In [2]:
import pandas as pd

In [7]:
raw_adsb = pd.read_csv('data_2023_7_3_20_39_57.csv',header=None)
raw_adsb.head()

        0         1             2      3         4        5        6
0  4CAFB3  2023/7/3  19:39:58.802  27000  53.26181 -4.89273  RYR16BZ
1  4CADF7  2023/7/3  19:39:58.951  31950  52.02408 -5.12277  RYR365A
2  4CA802  2023/7/3  19:39:59.021  31000  53.40459 -3.71533   RYR3BB
3  AA5428  2023/7/3  19:39:59.118  34000  52.42546 -4.90500   AAL141
4  407A3E  2023/7/3  19:39:59.196  39025  53.51550 -5.06155  AWC515W

In [8]:
hex_ids = set(raw_adsb[0])
hex_ids

{'343385',
 '406753',
 '406F78',
 '40739A',
 '40799C',
 '407A3E',
 '4CA802',
 '4CA80C',
 '4CAD9F',
 '4CADF7',
 '4CAFB3',
 '4CAFC4',
 'A12D2F',
 'A788FD',
 'AA5428'}